body {
    font-family: Arial, sans-serif;
    background-color:rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgba(161, 9, 203, 0.775);;
    padding: 15px 30px;
    position: absolute; /* Position it absolutely */
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the left */
    text-decoration: none;
}

.container {
    background-color: rgb(231, 230, 230);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #222121;
    color: white;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
    color:#222121;
    cursor: pointer;
}
